<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <insert id="insertMember" parameterType="member">
        insert into member2(member_id,korean_name,english_name,chinese_name,tech_level,reg_no1,reg_no2,birth_dt,year,phone_num, profile_img)
            values (#{memberId},#{korName},#{engName},#{chinaName},#{techLevel},#{regNo1},#{regNo2},#{birthDate},#{year},#{phoneNum},#{profileImg})
    </insert>

    <select id="duplicate" parameterType="String" resultType="String">
        select memberId from member_follow where memberId=#{memberId}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_follow where memberId=#{memberId} and memberPassword=#{memberPassword}
    </select>

    <select id="findAll" resultType="member">
        select * from member_follow
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from member_follow where id=#{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from member_follow where id=#{id}
    </delete>

    <update id="update" parameterType="member">
        update member_follow set memberName=#{memberName},memberEmail=#{memberEmail},memberPhone=#{memberPhone} where id=#{id}
    </update>


</mapper>