<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

    <insert id="insertMember" parameterType="member">
        insert into member2(member_id,korean_name,english_name,chinese_name,tech_level,reg_no1,reg_no2,birth_dt,year,phone_num, profile_img)
            values (#{memberId},#{korName},#{engName},#{chinaName},#{techLevel},#{regNo1},#{regNo2},#{birthDate},#{year},#{phoneNum},#{profileImg})
    </insert>

    <select id="selectMemberListCount" resultType="Integer">
        select count(*) from member2
    </select>

    <select id="selectMemberList" parameterType="page" resultType="member">
        select member_id as memberId,
               korean_name as korName,
               english_name as engName,
               chinese_name as chinaName,
               tech_level as techLevel,
               reg_no1 as regNo1,
               reg_no2 as regNo2,
               birth_dt as birthDate,
               year,
               phone_num as phoneNum,
               profile_img as profileImg
        from member2 limit #{page}, #{limit}
    </select>
</mapper>